/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* CSS START */
/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


	/* CSS START */
	/*--------------------------
		HERO
		--------------------------*/

@media screen and (max-width: 540px) {
	#hero {
		width: 100%;
		height: 100vh;
		background: url("../img/herovertikal.jpg")center;
		background-size: cover;
		background-attachment: fixed;
	}

	#hero h1 {
		font-family: 'Hurricane', cursive;
		text-align: center;
		text-transform: none;
		font-size: 55px;
		font-weight: 400;
		color: #fff;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
	}

	#hero h2 {
		color: #eee;
		text-align: center;
		margin-top: 100px;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 300;
		font-family: "Ibarra Real Nova", serif;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 1);
	}
		
	#hero .efek-ft{
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0px;
		top: 0px;
		
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.33) 37.5%, rgba(22, 22, 22, 0) 63.02%);
	}
		

		
		/*--------------------------
					COUPLE
			--------------------------*/
	#couple{
		height: 1300px;
		background-color: #fefde9;
	}

	.jdl-buka{
		width: 350px;
		text-align: center;
		text-transform: none;
		color: #364655;
		margin-bottom: 75px;
	}

	.jdl-buka h1{
		font-size: 30px;
		font-family: 'Dancing Script', sans-serif;
		text-transform: none;
		padding-bottom: 25px;
		margin: 0;
	}

	.jdl-buka h2{
		font-size: 13px;
		font-family: 'Poppins', cursive;
		margin: 0;
	}

	.warp-cpl .p-2{
		width: 300px;
	}
		
	#couple img{
		border-radius: 150px;
		border-width: 4px;
		border-style: solid;
		border-color: #E9A846;
		margin-bottom: 50px;
		width: 150px;
		height: 225px;
	}
		
	.ring{
		width: 50px;
	}	

	.nama{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		font-size: 25px;
		text-transform: none;
		color: #E9A846;
		text-align: center;
	}
		
	.ortu{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 13px;
		text-transform: none;
		color: #364655;
		text-align: center;
	}




	/*--------------------------
			Akad
	--------------------------*/
	#akad{
		height: 350px;
		background-color: #fefde9;
	}
	
	.wrap-akad{
		width: 350px;
	}

	.wrap-akad h2{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 13px;
		padding-bottom: 25px;
		text-align: center;
	}
	
	#akad h1{
		font-family:'Dancing Script', cursive;
		color: #364655;
		font-size: 35px;
		text-align: center;
		text-transform: none;
		margin: 0;
		text-align: center;
	}

	#akad h3{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 13px;
		margin: 0;
		text-align: center;
	}

	.akd-nkh{
		width: 250px;
	}

	.lok-akad{
		width: 250px;
	}


	/*--------------------------
				HITUNG MUNDUR dan AKAD
		--------------------------*/
	#resepsi{
		background-color: #fefde9;
		height: 350px;
	}	

	#resepsi .resepsi {
		color: #364655;
		text-align: center;
		font-family: 'Dancing Script', cursive;
	}

	.resepsi h2{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 13px;
		margin: 0;
	}

	.tanggal{
		color: #E9A846;
		font-family: 'Dancing Script', cursive;
		font-size: 25px;
		text-transform: none;
		padding: 30px;
		margin: 0;
	}

	.ingat{
		font-family: 'Poppins', sans-serif;
		width: 100px;
		height: 20px;
		font-size: 12px;
		border-radius: 10px;
		background-color: #E9A846;
		text-align: center;
		color: black;
	}

		
		

	/*--------------------------
				MAPS
		--------------------------*/
	#maps{
		height: 500px;
		background-color: #fefde9;
	}
		
	#maps .jdl{
		padding-bottom: 10px;
		font-family: 'Dancing Script', cursive;
		color: #364655;
		font-size: 30px;
		align-items: center;
		text-transform: none;
	}

	iframe{
		width: 250px;
		height: 150px;
		border-radius: 10px;
		border: 3px solid;
		border-color: #E9A846;
		margin: 20px;
	}
		
	#maps h2{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		text-align: center;
		font-size: 13px;
	}
		
	#maps h3{
		color: #E9A846;
		font-family: 'Poppins', sans-serif;
		font-size: 13px;
		text-align: center;
		padding-bottom: 15px;
		margin: 0;
	}
		
	.map{
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
		width: 150px;
		height: 23px;
		font-size: 15px;
		color: black;
		text-decoration: none;
		background-color: #E9A846;
		text-align: center;
	}
		
		
			/*--------------------------
						GALERI
				--------------------------*/
				
	#galeri{
		height: 600px;
		background-color: #fefde9;
		padding-top: 75px;
	}
		
	#galeri h1{
		font-family:'Dancing Script', cursive;
		color: #364655;
		font-size: 30px;
		text-align: center;
		text-transform: none;
		padding-bottom: 30px;
	}
		
	#galeri img{
		width: 150px;
		border-radius: 20px;
		margin: 5px;
		
		-webkit-transition: 0.4s ease;
		transition: 0.4s ease;
	}
		
	#galeri img:hover{
		-webkit-transform: scale(1.08);
		transform: scale(1.08);
	}


/*--------------------------
				Hadiah
		--------------------------*/

#hadiah{
	height: 800px;
	background-color: #fefde9;
	}
	
.wrap-hadiah{
	width: 350px;
}
	
#hadiah h1{
	font-family:'Dancing Script', cursive;
	color: #364655;
	font-size: 30px;
	text-align: center;
	text-transform: none;
	padding-bottom: 30px;
}
	
#hadiah h2{
	padding: 5px;
	color: #364655;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	text-align: center;
}
	
#hadiah h3{
	padding: 30px;
	color: #364655;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	text-align: center;
}
	
.rek{
	width: 250px;
	padding: 20px;
}

.logo{
	border: 2px solid;
	border-color: #e5cda7;
	width: 150px;
	height: 50px;
	background-color: #f6fdff;
	border-radius: 15px;
}

.bca{
	width: 100px;
}

.fisik{
	width: 250px;
}
	
.kotak{
	border: 2px solid;
	border-color: #e5cda7;
	width: 150px;
	height: 50px;
	background-color: #f6fdff;
	border-radius: 15px;
}

	.bri{
	width: 75px;
}

.salin{
	font-family: 'Poppins', cursive;
	width: 100px;
	height: 23px;
	font-size: 10px;
	background-color: #E9A846;
	border-radius: 10px;
	border-style: none;
}

#penutup{
	height: 500px;
	background-color: #fefde9;
}

.kontener{
	width: 350px;
}

#penutup h1{
	font-family: 'Dancing Script', sans-serif;
	text-align: center;
	font-size: 30px;
	color: #364655;
	text-decoration: none;
	text-transform: none;
	padding-top: 30px;
}

#penutup h2{
	font-family: 'Poppins', cursive;
	text-align: center;
	font-size: 13px;
	color: #364655;
	text-decoration: none;
	text-transform: none;
}


	.authorr{
		height: 75px;
		background-color: #A3B0C3;
	}
		
	.ig{
		font-size: 10px;
		text-align: center;
	}
		
	.spesial{
		font-size: 5px;
		text-align: center;
	}


}












@media only screen and (min-width: 540px) {
	/*--------------------------
	HERO
	--------------------------*/
	#hero {
		width: 100%;
		height: 100vh;
		background: url("../img/IMG_4060.jpg") top center;
		background-size: cover;
		background-attachment: fixed;
	}

	#hero .judul-hero{
		padding: 50vh 0;
	}

	#hero .efek-ft{
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0px;
		top: 0px;

		background: linear-gradient(90deg, rgba(18, 18, 18, 0.73) 0%, rgba(19, 19, 19, 0.441042) 25.52%, rgba(0, 0, 0, 0) 50%);
	}

	#hero h1 {
		font-family: 'Hurricane', cursive;
		text-transform: none;
		padding-left: 100px;
		font-size: 75px;
		font-weight: 400;
		color: #fff;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
	}
	
	#hero h2 {
		padding-left: 235px;
		color: #eee;
		padding-bottom: 10px;
		font-size: 22.5px;
		font-weight: 400;
		font-family: "Ibarra Real Nova", serif;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
		margin: 0;
	}


		/*--------------------------
					COUPLE
		--------------------------*/
	#couple{
		height: 900px;
		background-color: #fefde9;
	}


	.jdl-buka{
		width: 90%;
		text-align: center;
		text-transform: none;
		color: #364655;
		margin-bottom: 75px;
	}

	.jdl-buka h1{
		font-size: 60px;
		font-family: 'Dancing Script', sans-serif;
		text-transform: none;
		padding: 25px;
	}

	.jdl-buka h2{
		font-size: 20px;
		font-family: 'Poppins', cursive;
	}

	
	.warp-cpl .p-2{
		width: 300px;
	}
	
	#couple img{
		border-radius: 200px;
		border-width: 5px;
		border-style: solid;
		border-color: #E9A846;
		margin-bottom: 50px;
		width: 200px;
	}
	
	.ring{
		width: 125px;
		margin-top: -150px;
	}
	
	.nama{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		font-size: 30px;
		text-transform: none;
		color: #E9A846;
		text-align: center;
	}
	
	.ortu{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 15px;
		text-transform: none;
		color: #364655;
		text-align: center;
	}
	

		/*--------------------------
				Akad
		--------------------------*/

		#akad{
			height: 350px;
			background-color: #fefde9;
		}
		
		.wrap-akad{
			width: 1500px;
		}
	
		.wrap-akad h2{
			color: #364655;
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			padding-bottom: 25px;
		}
		
		#akad h1{
			font-family:'Dancing Script', cursive;
			color: #364655;
			font-size: 50px;
			text-align: center;
			text-transform: none;
			margin: 0;
			text-align: right;
			padding-right: 30px;
		}
	
		#akad h3{
			color: #364655;
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			margin: 0;
		}
	
		.akd-nkh{
			width: 350px;
			height: 200px;
			border-right: 3px solid;
			border-color: #E9A846;
		}
	
		.lok-akad{
			width: 550px;
			height: 200px;
		}
	
	
		/*--------------------------
					HITUNG MUNDUR dan AKAD
			--------------------------*/
		#resepsi{
			background-color: #fefde9;
			height: 350px;
		}	
	
		#resepsi .resepsi {
			color: #364655;
			text-align: center;
			font-family: 'Dancing Script', cursive;
		}
	
		.resepsi h2{
			color: #364655;
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			margin: 0;
		}
	
		.tanggal{
			color: #E9A846;
			font-family: 'Dancing Script', cursive;
			font-size: 58px;
			text-transform: none;
			padding: 30px;
			margin: 0;
		}
	
		.ingat{
			font-family: 'Poppins', sans-serif;
			width: 125px;
			height: 25px;
			font-size: 15px;
			border-radius: 10px;
			background-color: #E9A846;
			text-align: center;
			color: black;
		}




	/*--------------------------
				MAPS
		--------------------------*/
	#maps{
		height: 700px;
		background-color: #fefde9;
	}
	
	#maps .jdl{
		padding-top: 25px;
		font-family: 'Dancing Script', cursive;
		color: #364655;
		font-size: 60px;
		align-items: center;
		text-transform: none;
		padding-bottom: 25px;
	}
	
	iframe{
		width: 300px;
		height: 200px;
		border-radius: 20px;
		border: 10px;
		border-style: solid;
		border-color: #E9A846;
		margin: 30px;
	}
	
	#maps h2{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
	}

	#maps h3{
		color: #E9A846;
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
		padding-bottom: 25px;
	}

	.map{
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
		width: 160px;
		height: 25px;
		font-size: 16px;
		color: black;
		text-decoration: none;
		background-color: #E9A846;
		text-align: center;
	}

	
		/*--------------------------
			GALERI
			--------------------------*/
	#galeri{
		height: 700px;
		background-color: #fefde9;
		padding-top: 150px;
	}

	#galeri h1{
		font-family:'Dancing Script', cursive;
		color: #364655;
		font-size: 60px;
		text-align: center;
		text-transform: none;
		padding-bottom: 30px;
	}
			
	#galeri img{
		width: 250px;
		border-radius: 20px;
		margin: 20px;
			
		-webkit-transition: 0.4s ease;
		transition: 0.4s ease;
	}
	
	#galeri img:hover{
		-webkit-transform: scale(1.08);
		transform: scale(1.08);
	}
		
	/*--------------------------
				Hadiah
		--------------------------*/

		#hadiah{
			height: 600px;
			background-color: #fefde9;
		}
	
		.wrap-hadiah{
			width: 1000px;
		}
	
		#hadiah h1{
			font-family:'Dancing Script', cursive;
			color: #364655;
			font-size: 60px;
			text-align: center;
			text-transform: none;
			padding-bottom: 25px;
		}
	
		#hadiah h2{
			padding: 30px;
			color: #364655;
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			text-align: center;
		}
	
		#hadiah h3{
			padding: 30px;
			color: #364655;
			font-family: 'Poppins', sans-serif;
			font-size: 15px;
			text-align: center;
		}
	
		.rek{
			width: 500px;
		}
		.logo{
			border: 2px solid;
			border-color: #e5cda7;
			width: 300px;
			height: 125px;
			background-color: #f6fdff;
			border-radius: 40px;
		}
	
		.bca{
			width: 200px;
		}
	
		.fisik{
			width: 500px;
		}
	
		.kotak{
			border: 2px solid;
			border-color: #e5cda7;
			width: 300px;
			height: 125px;
			background-color: #f6fdff;
			border-radius: 40px;
		}
	
		.bri{
			width: 150px;
		}
	
		.salin{
			font-family: 'Poppins', cursive;
			width: 200px;
			height: 40px;
			background-color: #E9A846;
			border-radius: 10px;
			border-style: none;
		}


		#penutup{
			height: 600px;
			background-color: #fefde9;
		}
	
		.kontener{
			width: 800px;
		}
	
		#penutup h1{
			font-family: 'Dancing Script', sans-serif;
			text-align: center;
			font-size: 60px;
			color: #364655;
			text-decoration: none;
			text-transform: none;
			padding-top: 70px;
		}
	
		#penutup h2{
			padding: 25px;
			font-family: 'Poppins', cursive;
			text-align: center;
			font-size: 20px;
			color: #364655;
			text-decoration: none;
			text-transform: none;
		}

		

		/* PROKES */
		#prokes{
			height: 700px;
			background-color: #E9D6CD;
		}
	
		#prokes .judul{
			font-family:'Dancing Script', cursive;
			color: #1F243A;
			font-size: 60px;
			text-align: center;
			text-transform: none;
			margin: 0;
			padding-bottom: 30px;
		}
	
		#prokes h2{
			padding: 10px 20px 10px 20px;
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			text-align: center;
		}
	
		#prokes h3{
			font-family: 'Poppins', sans-serif;
			font-size: 18px;
			text-align: center;
		}

		.wrap-prokes{
			padding-bottom: 70px;
		}
	
		.prok1, .prok2, .prok3, .prok4{
			width: 300px;
		}
	


	.authorr{
		height: 100px;
		background-color: #A3B0C3;
	}
	
	.ig{
		font-size: 15px;
		text-align: center;
	}
	
	.spesial{
		font-size: 8px;
		text-align: center;
	}

}









@media screen and (min-width: 1800px) {
	/*--------------------------
		HERO
		--------------------------*/

	#hero {
		width: 100%;
		height: 100vh;
		background: url("../img/IMG_4060.jpg") top center;
		background-size: cover;
		background-attachment: fixed;
	}

	#hero .judul-hero{
		padding: 50vh 0;
	}

	#hero h1 {
		font-family: 'Hurricane', cursive;
		text-transform: none;
		font-size: 96px;
		font-weight: 400;
		line-height: 56px;
		color: #ffff;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
		z-index: 1;
	}

	#hero h2 {
		color: #fff;
		margin-bottom: 20px;
		font-size: 40px;
		font-weight: 400;
		line-height: 56px;
		font-family: "Ibarra Real Nova", serif;
		text-shadow: 0px 3px 50px rgba(0, 0, 0, 0.75);
		z-index: 1;
	}

	#hero .efek-ft{
		position: absolute;
		width: 100%;
		height: 100vh;
		left: 0px;
		top: 0px;

		background: linear-gradient(90deg, rgba(18, 18, 18, 0.73) 0%, rgba(19, 19, 19, 0.441042) 25.52%, rgba(0, 0, 0, 0) 50%);
	}




	/*--------------------------
				COUPLE
		--------------------------*/
	#couple{
		height: 1000px;
		background-color: #fefde9;
	}

	.jdl-buka{
		width: 1500px;
		text-align: center;
		text-transform: none;
		color: #364655;
		margin-bottom: 75px;
	}

	.jdl-buka h1{
		font-size: 75px;
		font-family: 'Dancing Script', sans-serif;
		text-transform: none;
		padding: 50px;
	}

	.jdl-buka h2{
		font-size: 25px;
		font-family: 'Poppins', cursive;
	}

	.warp-cpl .p-2{
		width: 400px;
	}

	#couple img{
		border-radius: 200px;
		border-width: 5px;
		border-style: solid;
		border-color: #E9A846;
		margin-bottom: 50px;
		width: 200px;
	}

	.ring{
		width: 125px;
		margin-top: -150px;
	}

	.nama{
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 600;
		font-size: 35px;
		text-transform: none;
		color: #E9A846;
		text-align: center;
	}

	.ortu{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 20px;
		text-transform: none;
		color: #364655;
		text-align: center;
	}



	
	/*--------------------------
				Akad
		--------------------------*/

	#akad{
		height: 450px;
		background-color: #fefde9;
	}
	
	.wrap-akad{
		width: 1500px;
	}

	.wrap-akad h2{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 25px;
		padding-bottom: 50px;
	}
	
	#akad h1{
		font-family:'Dancing Script', cursive;
		color: #364655;
		font-size: 75px;
		text-align: right;
		text-transform: none;
	}

	#akad h3{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 25px;
		padding-left: 30px;
	}

	.akd-nkh{
		width: 550px;
		height: 300px;
		border-right: 3px solid;
		border-color: #E9A846;
	}

	.lok-akad{
		width: 700px;
		height: 300px;
	}


	/*--------------------------
				HITUNG MUNDUR dan AKAD
		--------------------------*/
	#resepsi{
		background-color: #fefde9;
		height: 350px;
	}	

	#resepsi .resepsi {
		color: #364655;
		text-align: center;
		font-family: 'Dancing Script', cursive;
	}

	.pembuka{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 25px;
	}

	.tanggal{
		color: #E9A846;
		font-family: 'Dancing Script', cursive;
		font-size: 58px;
		text-transform: none;
		padding: 30px;
	}

	.ingat{
		font-family: 'Poppins', sans-serif;
		width: 150px;
		height: 30px;
		font-size: 20px;
		border-radius: 10px;
		background-color: #E9A846;
		text-align: center;
		color: black;
	}




	/*--------------------------
				MAPS
		--------------------------*/
	#maps{
		height: 900px;
		background-color: #fefde9;
	}

	#maps .jdl{
		padding-top: 50px;
		font-family: 'Dancing Script', cursive;
		color: #364655;
		font-size: 75px;
		align-items: center;
		text-transform: none;
	}

	iframe{
		width: 600px;
		border: 10px solid;
		border-color: #E9A846;
		height:  400px;
		padding: 10 10 10 10;
	}

	#maps h2{
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 25px;
	}

	#maps h3{
		color: #E9A846;
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
		padding-bottom: 25px;
	}

	.map{
		font-family: 'Poppins', sans-serif;
		border-radius: 10px;
		width: 180px;
		height: 30px;
		font-size: 20px;
		color: black;
		text-decoration: none;
		background-color: #E9A846;
		text-align: center;
	}


	/*--------------------------
				GALERI
		--------------------------*/
	#galeri{
		height: 1000px;
		background-color: #fefde9;
	}

	.foto{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.swiper {
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 400px;
		height: 853px;
	}

	.prwd img{
		position: relative;
		width: 800px;
	}

	
	/*--------------------------
				Hadiah
		--------------------------*/

	#hadiah{
		height: 800px;
		background-color: #fefde9;
	}

	.wrap-hadiah{
		width: 1500px;
	}

	#hadiah h1{
		font-family:'Dancing Script', cursive;
		color: #364655;
		font-size: 75px;
		text-align: center;
		text-transform: none;
		padding-bottom: 30px;
	}

	#hadiah h2{
		padding: 30px;
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 25px;
		text-align: center;
	}

	#hadiah h3{
		padding-top: 50px;
		color: #364655;
		font-family: 'Poppins', sans-serif;
		font-size: 20px;
		text-align: center;
	}

	.rek{
		width: 500px;
		height: 400px;
	}
	.logo{
		border: 2px solid;
		border-color: #e5cda7;
		width: 300px;
		height: 125px;
		background-color: #f6fdff;
		border-radius: 40px;
	}

	.bca{
		width: 200px;
	}

	.fisik{
		width: 500px;
		height: 400px;
	}

	.kotak{
		border: 2px solid;
		border-color: #e5cda7;
		width: 300px;
		height: 125px;
		background-color: #f6fdff;
		border-radius: 40px;
	}

	.bri{
		width: 150px;
	}

	.salin{
		font-family: 'Poppins', cursive;
		width: 200px;
		height: 40px;
		font-size: 18px;
		background-color: #E9A846;
		border-radius: 10px;
		border-style: none;
	}


	#penutup{
		height: 600px;
		background-color: #fefde9;
	}

	.kontener{
		width: 1500px;
	}

	#penutup h1{
		font-family: 'Dancing Script', sans-serif;
		text-align: center;
		font-size: 75px;
		color: #364655;
		text-decoration: none;
		text-transform: none;
		padding-top: 70px;
	}

	#penutup h2{
		padding: 50px;
		font-family: 'Poppins', cursive;
		text-align: center;
		font-size: 25px;
		color: #364655;
		text-decoration: none;
		text-transform: none;
	}


	#commentbox{
		background-color: #fefde9;
	}
	.comment-section {
		max-width: 500px;
		margin: 0 auto;
		padding: 20px;
	}
	
	.comment-list {
		margin-top: 20px;
	}	  
	
	.comment {
		margin-bottom: 10px;
	}	  
	
	.comment .commenter {
		font-weight: bold;
	}	  
	
	.comment .content {
		margin-top: 5px;
	}
	
	#comment-form {
		margin-top: 20px;
	}
	
	#comment-form input,
	#comment-form textarea {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	#comment-form button {
		padding: 10px 15px;
	}






	.spesial{
		font-size: 8px;
		text-align: center;
		color: #e5cda7;
	}



	.authorr{
		height: 100px;
		background-color: #032a3b;
	}

	.ig{
		font-size: 15px;
		text-align: center;
		color: #e5cda7;
	}

}
